<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>HTML Forms</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

    {% for tile in tiles %}
        {% if tile.is_active %}
            <p>
                {{tile.text}}
                <form action="/search_text/{{tile.query}}/{{tile.id}}/go/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Go">
                </form>
                <form action="/search_text/{{tile.query}}/{{tile.id}}/good/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Good">
                </form>
                <form action="/search_text/{{tile.query}}/{{tile.id}}/bad/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Bad">
                </form>
            </p>
        {%endif%}
    {% endfor %}

</body>
</html>