{% extends 'base.html' %}

{% block content %}

<div class="container position-relative">
    <h1 class="my-5 text-center">
        Давайте поищем что-нибудь
    </h1> 

    <div class="container ">

        <div class="row g-3 w-75 mx-auto">
            <div class="row g-2">
                

                    <form action="" method="post" class="input-group mb-3">
                        {% csrf_token %}
                        
                        {{ form}}
                        
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
                        
                    </form>

            </div>
        </div>

        <div class="d-grid gap-3 w-75 mx-auto">

            {% for tile in page_obj %}
                            
                    <p>
                        {% include 'inc/answer.html' %}        
                    </p>
                    
                
                
            {% endfor %}

        </div>


        {% include 'inc/paginator.html' %}

    </div>

</div>

{% endblock content %}