{% load static %}

<div class="row p-2 bg-light border">
    <div class="col-sm-10 d-flex align-items-start flex-column">

      <div>
        <p class="fs-3 fw-bolder text-decoration-underline">
          {{tile.name}}
        </p>
        <p class="fs-5">
          
          <!-- <p>  -->
            {{tile.description}}      
          <!-- </p> -->
              
          
        </p>

        <p class="fs-6 text-end fst-italic ">
          {{tile.source}}
        </p>

      </div>

    </div>

    <div class="col  d-flex align-items-end flex-column">
      <div class="form-floating ">
        <div class="input-group mb-3">
          {% csrf_token %}
          <form action="/search_text/{{tile.query}}/{{tile.id}}/go/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <label class="btn btn-outline-primary" for="btn-check-outlined">Перейти</label><br>
          </form>
        </div>
        
        <div class="input-group mb-3">
          <form action="/search_text/{{tile.query}}/{{tile.id}}/good/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-check" id="success-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-success" for="success-outlined">Хорошо</label>
          </form>
        </div>
        
        <div class="input-group mb-3">
          <form action="/search_text/{{tile.query}}/{{tile.id}}/bad/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-check" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Плохо</label>
          </form>
        </div>
      </div>
    </div>
  </div>